<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Số thứ tự</th>
            <th>Tên món ăn</th>
            <th>Loại món ăn</th>
            <th>Giá cả</th>
            <th>Thời gian chuẩn bị</th>
            <th>Lượng calories</th>
            <th>Lượng chất béo</th>
        </tr>
        <tr th:each="dish, stat: ${suggestDishes}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.type}"></td>
            <td th:text="${dish.price} + ' VND'"></td>
            <td th:text="${dish.prepareTime} + ' phút'"></td>
            <td th:text="${dish.calories} + ' kcal'"></td>
            <td th:text="${dish.fat} + ' g'"></td>
        </tr>
    </table>
</div>
</body>
</html>